body
{
    display: flex;
}
.parent {
    border: 1px solid #cacbcd;
    border-radius: .28571429rem;
    width: 40%;
    margin: 5px;
    padding: 10px;
    text-align: center;
    -webkit-border-radius: .28571429rem;
    -moz-border-radius: .28571429rem;
    -ms-border-radius: .28571429rem;
    -o-border-radius: .28571429rem;
}

label {
    text-align: start;
}
.lignee{
    width: 50%;
    display: grid;
}
